asn1crypto==0.23.0
beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cryptography==3.2
DateTime==4.2
enum34==1.1.6
feedparser==5.2.1
idna==2.6
ipaddress==1.0.18
pycparser==2.18
PyJWT==1.5.3
pyOpenSSL==17.5.0
pytz==2017.3
requests==2.18.4
six==1.11.0
twilio==6.9.1
urllib3==1.22
zope.interface==4.4.3
